body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e88e5;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

